<div class="card employee-card mt-lg mx-4">
  <div class="card-header">
    <h2 class="card-title">{{ name }}</h2>
    <h4 class="card-title text-orange"><i class="fas fa-mug-hot mr-2 text-orange"></i>{{ role }}</h4>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">ID: {{ id }}</li>
      <li class="list-group-item">Email: <a class="text-orange" href="mailto:{{ email }}">{{ email }}</a></li>
      <li class="list-group-item">Office number: {{ officeNumber }}</li>
    </ul>
  </div>
</div>
